body{
    font-family:'Consolas', 'Courier New', monospace;
    background-color: #D7FBFF;
}
#Presentacion{
    display: flex;
}
#Nombre_Profesion{
    margin-top: auto;
    padding-left: 0.50%;
    display: block;
    color:#D7FBFF;
    background-color: #444444;
    height: 150px;
    width: 300px;
}
#Nombre{
    font-size: 160%;
    padding-left: 15px;
    font-family:'Consolas', 'Courier New', monospace;
    text-align: left;

}
#profesion{
    font-size: 100%;
    padding-left: 15px;
    font-family:'Consolas', 'Courier New', monospace;
    text-align:start;
}
#Foto{
    padding-left: 20px;
    padding-top: 40px;
    object-position: 20px 20px;
    background-color: #444444;
}
#Sobre_Mi{
    display: flex;
    margin-top: 30px;
    
}
#Info_Sobre_MI{
    margin-top: auto;
    padding-left: 0.50%;
    display: block;
    color:#D7FBFF;
    background-color: #444444;
    height: 195px;
    width: 300px;
}
#Cabecera_sobre_mi{
    color:#D7FBFF;
    padding-left: 15px;
    font-size: 150%;

}
#Contenido_sobre_mi{
    padding-left: 15px;
    font-size: 120%;
}
#Redes_Sociales{
    display: flex;
}
#GitHub{
    padding-left: 15px;
    display: block;
    height: 40px;
    width: 40px;
    text-align: center;
}
#LinkEdin{
    display: block;
    height: 40px;
    width: 40px;
    margin-left: 40px;
}
